<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Mindscan</title>

    <!-- Favicon -->
    <link rel="icon" href={{url_for('static',filename='img/favicon.png')}}>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/bootstrap.min.css')}}>
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/nice-select.css')}}>
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/font-awesome.min.css')}}>
	<!-- icofont CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/icofont.css')}}>
	<!-- Slicknav -->
	<link rel="stylesheet" href={{url_for('static',filename='css/slicknav.min.css')}}>
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/owl-carousel.css')}}>
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/datepicker.css')}}>
	<!-- Animate CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/animate.min.css')}}>
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/magnific-popup.css')}}>

	<!-- Medipro CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/normalize.css')}}>
	<link rel="stylesheet" href={{url_for('static',filename='css/style.css')}}>
	<link rel="stylesheet" href={{url_for('static',filename='css/responsive.css')}}>

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header Area -->
    <header class="header">
        <!-- Topbar -->
        <!-- <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-12">
                    
                        <ul class="top-link">
                            <li><a href="about.html">About</a></li>
                            <li><a href="login.html">Login/Signup</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                        
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        
                        <ul class="top-contact">
                            <li><i class="fa fa-phone"></i>+91 8720944490</li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:mindscan@gmail.com">mindscan@gmail.com</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>-->
        <!-- End Topbar -->
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <!-- Start Logo -->
                            <div class="logo">
                                <a href="/"><img src="{{url_for('static',filename='img/logo.png')}}" alt="#"></a>
                            </div>
                            <!-- End Logo -->
                            <!-- Mobile Nav -->
                            <div class="mobile-nav"></div>
                            <!-- End Mobile Nav -->
                        </div>
                        <div class="col-lg-9 col-md-9 col-12">
                            <!-- Main Menu -->
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">

                                        <li class><a href="/">Home </a></li>
                                        <li><a href="#">Services <i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="/bipolar">Bipolar Disorder</a></li>
												<li><a href="/depres">Depression</a></li>
												<li><a href="/adhd">ADHD</a></li>
												<li><a href="/ptsd">PTSD</a></li>
                                            </ul>
                                        </li>
                                        <!-- <li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="404.html">404 Error</a></li>
											</ul>
										</li> -->
                                        <li><a href="/blog">Blogs </i></a>
                                            <!-- <ul class="dropdown">
												<li><a href="blog-single.html">Blog Details</a></li>
											</ul> -->
                                        </li>
                                        <li><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->

    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Clinics</h2>
                        <ul class="bread-list">
                            <li><a href="index.html">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">Clinics Near you</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .section{
            padding: 50px 0 0 0;
        }
        .contact-us .contact-us-form {
            padding: 30px 30px 30px 30px;
        }

        .contact-us .contact-us-form p {
            margin-bottom: 0;
        }

        .contact-us .contact-info {
            margin-top: 20px;
        }

        .contact-us .single-info {
            background: #a5c2df;
            padding: 20px 60px;
            height: 100px;
        }
        .contact-us .single-info:before {
            background: #a5c2df;
        }
        .contact-us .single-info .content{
            text-align:center;
        }

    </style>
        
    </section>
    {% if combined_list!=None %}
    {% for clinic in combined_list %}
    <section class="contact-us section">
        
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-us-form">
                            <h2>{{clinic['clinic']}}</h2>
                            <p>{{clinic['Address']}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <!-- single-info -->
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-ui-call"></i>
                            <div class="content">
                                <h3>{{clinic['Contact']}}</h3>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                    <!-- single-info -->
                    <div class="col-lg-3 col-12 ">
                        <div class="single-info">
                            <i class="icofont-star"></i>
                            <div class="content">
                                <h3 style="font-size:30px; padding-top:10px;">{{clinic['rating']}}</h3>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                    <!-- single-info -->
                    <div class="col-lg-5 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-wall-clock"></i>
                            <div class="content">
                                <h3>Mon - Sat: 8am - 5pm</h3>
                                <p>Sunday Closed</p>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                </div>
            </div>
        </div>
      
    </section>
    {% endfor %}
    {% endif %}

    <!-- Footer Area -->
    <footer id="footer" class="footer" style="padding-top: 40px;">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-footer">
                            <h2>About Us</h2>
                            <p>Welcome to our website. We are dedicated to providing top-notch services and solutions
                                for your needs.</p>
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                                <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-footer f-link">
                            <h2>Quick Links</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="/"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Home</a>
                                        </li>
                                        <li><a href="about.html"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>About Us</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a>
                                        </li>
                                        <li><a href="/blog"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Blogs</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other
                                                Links</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Counseling</a></li>
                                        <li><a href="/contact"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Contact Us</a>
                                        </li>
                                        <!-- <li><a href="#"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Testimonials</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-footer">
                            <h2>Newsletter</h2>
                            <p>Subscribe to our newsletter to receive the latest news and updates in your inbox. Stay
                                informed about our services and offerings.</p>
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="email" placeholder="Email Address" class="common-input"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                                    required="" type="email">
                                <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="copyright-content">
                            <p>
                            <div class="logo">
                                <a href="/"><img src="{{url_for('static',filename='img/logo.png')}}" alt="Your Logo"></a>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->

    <!-- jquery Min JS -->
	<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
	<!-- jquery Migrate JS -->
	<script src="{{url_for('static',filename='js/jquery-migrate-3.0.0.js')}}"></script>
	<!-- jquery Ui JS -->
	<script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
	<!-- Easing JS -->
	<script src="{{url_for('static',filename='js/easing.js')}}"></script>
	<!-- Color JS -->
	<script src="{{url_for('static',filename='js/colors.js')}}"></script>
	<!-- Popper JS -->
	<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="{{url_for('static',filename='js/bootstrap-datepicker.js')}}"></script>
	<!-- Jquery Nav JS -->
	<script src="{{url_for('static',filename='js/jquery.nav.js')}}"></script>
	<!-- Slicknav JS -->
	<script src="{{url_for('static',filename='js/slicknav.min.js')}}"></script>
	<!-- ScrollUp JS -->
	<script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
	<!-- Niceselect JS -->
	<script src="{{url_for('static',filename='js/niceselect.js')}}"></script>
	<!-- Tilt Jquery JS -->
	<script src="{{url_for('static',filename='js/tilt.jquery.min.js')}}"></script>
	<!-- Owl Carousel JS -->
	<script src="{{url_for('static',filename='js/owl-carousel.js')}}"></script>
	<!-- counterup JS -->
	<script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
	<!-- Steller JS -->
	<script src="{{url_for('static',filename='js/steller.js')}}"></script>
	<!-- Wow JS -->
	<script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
	<!-- Magnific Popup JS -->
	<script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!-- Main JS -->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>