<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>MindScan</title>

    <!-- Favicon -->
    <link rel="icon" href={{url_for('static',filename='img/favicon.png')}}>


    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">

   <!-- Bootstrap CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/bootstrap.min.css')}}>
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/nice-select.css')}}>
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/font-awesome.min.css')}}>
	<!-- icofont CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/icofont.css')}}>
	<!-- Slicknav -->
	<link rel="stylesheet" href={{url_for('static',filename='css/slicknav.min.css')}}>
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/owl-carousel.css')}}>
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/datepicker.css')}}>
	<!-- Animate CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/animate.min.css')}}>
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/magnific-popup.css')}}>

	<!-- Medipro CSS -->
	<link rel="stylesheet" href={{url_for('static',filename='css/normalize.css')}}>
	<link rel="stylesheet" href={{url_for('static',filename='css/style.css')}}>
	<link rel="stylesheet" href={{url_for('static',filename='css/responsive.css')}}>

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>

    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
                    <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <!-- Start Logo -->
                            <div class="logo">
                                <a href="/"><img src="{{url_for('static',filename='img/logo.png')}}" alt="#"></a>
                            </div>
                            <!-- End Logo -->
                            <!-- Mobile Nav -->
                            <div class="mobile-nav"></div>
                            <!-- End Mobile Nav -->
                        </div>
                        <div class="col-lg-9 col-md-9 col-12">
                            <!-- Main Menu -->
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">

                                        <li class><a href="/">Home </a></li>
                                        <li><a href="#">Services <i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="/bipolar">Bipolar Disorder</a></li>
												<li><a href="/depres">Depression</a></li>
												<li><a href="/adhd">ADHD</a></li>
												<li><a href="/ptsd">PTSD</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""  data-bs-toggle="modal" data-bs-target="#exampleModalCenter27">Clinics </i></a>
											<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
											integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
											crossorigin="anonymous"></script>
									
											<div class="modal fade" id="exampleModalCenter27" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
												  <div class="modal-content">
													<div class="modal-header">
													  <h5 class="modal-title" id="exampleModalLongTitle">Enter your location</h5>
													  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													  </button>
													</div>
													<div class="modal-body">
													<form action="/clinics" method="post">
														<div class="form-group">
															<label style="color: black">Please provide the location to locate nearby clinics.</label><br>
															<label style="color: black">Location:</label>
															<input type="text" class="form-control" id="location" name="location" required>
													</div>
													<div class="modal-footer">
													  <button type="submit" class="btn btn-primary">Search</button>
													</div>
													</div>
													</form>
												  </div>
												</div>
											  </div>
										<li><a href="/blogs" class="active">Blogs </i></a>
                                        </li>
                                        <li><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--/ End Main Menu -->
                        </div>
                        <!-- <div class="col-lg-2 col-12">
							<div class="get-quote">
								<a href="appointment.html" class="btn">Take the Test</a>
							</div>
						</div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>

    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Counseling</h2>
                        <ul class="bread-list">
                            <li><a href="/">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li>Counseling</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        /* Add the following styles to decorate the title "Newest post" */
        .single-widget.recent-post .title {
            position: relative;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            /* margin-bottom: 30px; */
            display: block;
            background: #fff;
            padding-left: 12px;
        }

        .single-widget.recent-post .title::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -1px;
            height: 100%;
            width: 3px;
            background: #1A76D1;
        }

        .news-single {
            padding: 0;
            background: #f8f8f8;
        }

        .main-sidebar .single-post .content h5 a {
            font-size: 15px;
        }
    </style>
    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="single-main">
                        <div class="single-widget recent-post">
                            <h3 class="title">TELEHEALTH AND VIDEO THERAPY SERVICES
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-single section">
        <div class="container">
            <div class="row">
                {% if list!=None%}
                {% for i in range(0, list['TELEHEALTH AND VIDEO THERAPY SERVICES']|length, 2) %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i]['Link']}}">{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if i + 1 < list['TELEHEALTH AND VIDEO THERAPY SERVICES']|length %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i+1]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i+1]['Link']}}">{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i+1]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['TELEHEALTH AND VIDEO THERAPY SERVICES'][i+1]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above structure for additional posts -->
                {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>


    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="single-main">
                        <div class="single-widget recent-post">
                            <h3 class="title">ONLINE THERAPY REVIEWS
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-single section">
        <div class="container">
            <div class="row">
                {% if list!=None%}
                {% for i in range(0, list['ONLINE THERAPY REVIEWS']|length, 2) %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['ONLINE THERAPY REVIEWS'][i]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['ONLINE THERAPY REVIEWS'][i]['Link']}}">{{list['ONLINE THERAPY REVIEWS'][i]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['ONLINE THERAPY REVIEWS'][i]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if i + 1 < list['ONLINE THERAPY REVIEWS']|length %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['ONLINE THERAPY REVIEWS'][i+1]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['ONLINE THERAPY REVIEWS'][i+1]['Link']}}">{{list['ONLINE THERAPY REVIEWS'][i+1]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['ONLINE THERAPY REVIEWS'][i+1]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above structure for additional posts -->
                {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>



    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="single-main">
                        <div class="single-widget recent-post">
                            <h3 class="title">APPS
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><section class="news-single section">
        <div class="container">
            <div class="row">
                {% if list!=None%}
                {% for i in range(0, list['APPS']|length, 2) %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['APPS'][i]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['APPS'][i]['Link']}}">{{list['APPS'][i]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['APPS'][i]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if i + 1 < list['APPS']|length %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['APPS'][i+1]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['APPS'][i+1]['Link']}}">{{list['APPS'][i+1]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['APPS'][i+1]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above structure for additional posts -->
                {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>



    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="single-main">
                        <div class="single-widget recent-post">
                            <h3 class="title">BOOKS
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-single section">
        <div class="container">
            <div class="row">
                {% if list!=None%}
                {% for i in range(0, list['BOOKS']|length, 2) %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['BOOKS'][i]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['BOOKS'][i]['Link']}}">{{list['BOOKS'][i]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['BOOKS'][i]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if i + 1 < list['BOOKS']|length %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['BOOKS'][i+1]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['BOOKS'][i+1]['Link']}}">{{list['BOOKS'][i+1]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['BOOKS'][i+1]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above structure for additional posts -->
                {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>



    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="single-main">
                        <div class="single-widget recent-post">
                            <h3 class="title">ACCESSORIES AND PRODUCTS
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-single section">
        <div class="container">
            <div class="row">
                {% if list!=None%}
                {% for i in range(0, list['ACCESSORIES AND PRODUCTS']|length, 2) %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['ACCESSORIES AND PRODUCTS'][i]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['ACCESSORIES AND PRODUCTS'][i]['Link']}}">{{list['ACCESSORIES AND PRODUCTS'][i]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['ACCESSORIES AND PRODUCTS'][i]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if i + 1 < list['ACCESSORIES AND PRODUCTS']|length %}
                <div class="col-lg-6">
                    <div class="main-sidebar">
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{list['ACCESSORIES AND PRODUCTS'][i+1]['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{list['ACCESSORIES AND PRODUCTS'][i+1]['Link']}}">{{list['ACCESSORIES AND PRODUCTS'][i+1]['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{list['ACCESSORIES AND PRODUCTS'][i+1]['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above structure for additional posts -->
                {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>




    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="single-main">
                        <div class="single-widget recent-post">
                            <h3 class="title">SUPPORT GROUPS
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="main-sidebar">
                        {% if list1!=None%}
                        {% for blog in list1 %}
                        <div class="single-widget recent-post">
                            <!-- Single Post -->
                            <div class="single-post">
                                <div class="image">
                                    <img src="{{blog['Image']}}" alt="#">
                                </div>
                                <div class="content">
                                    <h5><a href="{{blog['Link']}}">{{blog['Title']}}</a></h5>
                                    <div class="news-text">
                                        <p>{{blog['Text']}}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %}
  
            {% endif %}
                    </div>
                </div>
               
                <!-- Repeat the above structure for additional posts -->

            </div>
            
        </div>
    </section>


    <footer id="footer" class="footer" style="padding-top: 40px;">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-footer">
                            <h2>About Us</h2>
                            <p>Welcome to our website. We are dedicated to providing top-notch services and solutions
                                for your needs.</p>
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                                <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-footer f-link">
                            <h2>Quick Links</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="/"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Home</a>
                                        </li>
                                        <li><a href="/about"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>About Us</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a>
                                        </li>
                                        <li><a href="/blogs"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Blogs</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other
                                                Links</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="/therapy"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Counseling</a></li>
                                        <li><a href="/contact"><i class="fa fa-caret-right"
                                                    aria-hidden="true"></i>Contact Us</a>
                                        </li>
                                        <!-- <li><a href="#"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Testimonials</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-footer">
                            <h2>Newsletter</h2>
                            <p>Subscribe to our newsletter to receive the latest news and updates in your inbox. Stay
                                informed about our services and offerings.</p>
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="email" placeholder="Email Address" class="common-input"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                                    required="" type="email">
                                <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="copyright-content">
                            <p>
                            <div class="logo">
                                <a href="/"><img src="{{url_for('static',filename='img/logo.png')}}" alt="Your Logo"></a>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>

	<!-- jquery Min JS -->
	<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
	<!-- jquery Migrate JS -->
	<script src="{{url_for('static',filename='js/jquery-migrate-3.0.0.js')}}"></script>
	<!-- jquery Ui JS -->
	<script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
	<!-- Easing JS -->
	<script src="{{url_for('static',filename='js/easing.js')}}"></script>
	<!-- Color JS -->
	<script src="{{url_for('static',filename='js/colors.js')}}"></script>
	<!-- Popper JS -->
	<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="{{url_for('static',filename='js/bootstrap-datepicker.js')}}"></script>
	<!-- Jquery Nav JS -->
	<script src="{{url_for('static',filename='js/jquery.nav.js')}}"></script>
	<!-- Slicknav JS -->
	<script src="{{url_for('static',filename='js/slicknav.min.js')}}"></script>
	<!-- ScrollUp JS -->
	<script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
	<!-- Niceselect JS -->
	<script src="{{url_for('static',filename='js/niceselect.js')}}"></script>
	<!-- Tilt Jquery JS -->
	<script src="{{url_for('static',filename='js/tilt.jquery.min.js')}}"></script>
	<!-- Owl Carousel JS -->
	<script src="{{url_for('static',filename='js/owl-carousel.js')}}"></script>
	<!-- counterup JS -->
	<script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
	<!-- Steller JS -->
	<script src="{{url_for('static',filename='js/steller.js')}}"></script>
	<!-- Wow JS -->
	<script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
	<!-- Magnific Popup JS -->
	<script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!-- Main JS -->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>